@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
  margin: 0;
  padding: 0;

}
nav{
    font-family: 'Open Sans', sans-serif;
font-family: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;

}
.brand img{
    width: 44px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font: size 1.3em;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

  
.Bottom{
    position: sticky;
    height: 100px;
    background-color: rgb(30, 215, 24);
    color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons{

    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}


#myProgressBar{
    width: 80vw;
    cursor: pointer;
    
}
a:link {
    color: white;
  }
  
  a:visited {
    color:white;
  }
  
  a:hover {
    color: green;
  }
  
  a:active {
    color: red;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }
.songItemContainer{
    margin-top: 65px;
}
.songItem{
    height: 60px;
    display: flex;
    background-color: aquamarine;
    color: black;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 100px;
    margin:0 18px ;
    border-radius: 34px;
}
.timestamp{
    margin: 0 18px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Varela Round',sans-serif;
}
.songInfo img{
    opacity: 1;
    transition: opacity 0.4s ease-in;
}